name: CI/CD for asset-finance-specialists 

on:
  push:
    branches:
      - main

jobs:
  build-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Install Client Dependencies
        run: |
          cd client
          npm install

      - name: Build Client Project
        run: |
          cd client
          npm run build

      - name: Upload artifact to enable deployment
        uses: actions/upload-artifact@v4
        with:
          name: production-build
          path: |
          ./client/build

  install-server-dependencies:

    needs: build-client

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 14.x

      - name: Install Server Dependencies
        run: |
          cd server
          npm install

  deploy:
   
    needs: install-server-dependencies
    
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: production-build
          path: ./client/build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./client/build
